/* this is app.css */
.mono-font {
  font-family: "Roboto Mono", monospace;
}

.title {
  font-size: 3.75rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  color: #ccd6f6;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
